<div class="mandatory">
    <app-mandatory-snap>
        <div class="row justify-content-center hp100 relative">
            <div class="col-auto align-self-center text-center animate__animated animate__lightSpeedInRight animate__faster">
                <span class="display-5 p-2">
                    These are somethings about me.
                </span>
            </div>
        </div>
    </app-mandatory-snap>
    <app-mandatory-snap>
        <div class="row justify-content-center hp100 relative">
            <div class="col-auto align-self-center text-center animate__animated animate__rotateIn animate-delay-4s animate__faster">
                <img class="img-fluid rounded" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcl.buscafs.com%2Fwww.sandiegored.com%2Fpublic%2Fuploads%2Fimages%2F231968_735x390.jpg&f=1&nofb=1&ipt=1ff6afb40f58f54af88d27035a1dfe43ded7b4f4c915a96a9e6320d8fdf76a22&ipo=images">
            </div>
            <div class="col-auto align-self-center text-center animate__animated animate__lightSpeedInRight animate__faster">
                <span class="display-5 p-2">
                    My favorite dish is mexican pizza
                </span>
            </div>
        </div>
    </app-mandatory-snap>
</div>