<div class="container-fluid p-0 m-0">
    <div class="nav2">
        <div class="row justify-content-center pt-3 pb-3 g-5 animate__animated animate__zoomInDown">
            <div class="col-auto">
                <a class="nav-link fs-4 text-bold scale-05" routerLink="/home">Home</a>
            </div>
            <div class="col-auto">
                <a class="nav-link fs-4 text-bold scale-05" routerLink="/projects">Projects</a>
            </div>
            <div class="col-auto">
                <a class="nav-link fs-4 text-bold scale-05" routerLink="/me">Me</a>
            </div>
        </div>
    </div>
    <ng-content>
    </ng-content>
</div>