<div class="container mt-5">
    <div class="row main animate__animated animate__delay-1s animate__bounceInRight" >
        <div class="col align-self-center text-center ">
            <span class="display-5">
                Hi! My name is Jorge, I'm a web and software developer
            </span>
        </div>
    </div>
    <div class="row main animate__animated">
        <div class="col align-self-center text-center">
            <span class="display-5" >
                And this, it's my portfolio...
            </span>
        </div>
    </div>
    <div class="row main animate__animated">
        <div class="col align-self-center text-center">
            <span class="display-5">
                Some frameworks and tools that I use for projects.
            </span>
        </div>
    </div>
</div>