.dropdown-panel {
  animation: fadeSlideDown 0.15s ease-out;
}

.dropdown-notifications {
  width: calc(100vw - 2rem);
  max-height: 70vh;
  overflow-y: auto;

  @media (min-width: 576px) {
    width: 360px;
  }

  @media (min-width: 992px) {
    width: 420px;
  }
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-mobile {
  max-width: 60vw;
}

.btn-link {
  border-radius: 0.6rem;
}